In [1]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

# Import API key
from config import gkey

In [3]:
# Import cities file into the cities_pd DataFrame
file_to_load = ("../Resources/cities.csv")
cities_df = pd.read_csv(file_to_load)
cities_df

              City         State
0    New York City      New York
1      Los Angeles    California
2          Chicago      Illinois
3          Houston         Texas
4     Philadelphia  Pennsylvania
..             ...           ...
95         Fremont    California
96     Baton Rouge     Louisiana
97        Richmond      Virginia
98           Boise         Idaho
99  San Bernardino    California

[100 rows x 2 columns]

In [4]:
# Add columns for lat, lng, airport name, airport address, airport rating.
# Hint: Be sure to specify "" as the initial value for each column.
cities_df["Lat"] = ""
cities_df['Lng'] = ""
cities_df["Airport Name"] = ""
cities_df["Airport Rating"] = ""
cities_df

              City         State Lat Lng Airport Name Airport Rating
0    New York City      New York
1      Los Angeles    California
2          Chicago      Illinois
3          Houston         Texas
4     Philadelphia  Pennsylvania
..             ...           ...  ..  ..          ...            ...
95         Fremont    California
96     Baton Rouge     Louisiana
97        Richmond      Virginia
98           Boise         Idaho
99  San Bernardino    California

[100 rows x 6 columns]

In [6]:
# Loop through the cities_pd and get the lat/long for each city
# Hint: `requests.get(target_url).json()`
# Hint: `for index, row in cities_pd.iterrows():`
# Hint: `cities_pd.loc`

url = 'https://maps.googleapis.com/maps/api/geocode/json?&key=' + gkey + 'address=' + cities.replace(" ","+")

#Iterate through the dataframe
for index, row in cities_df.iterrows():
    cities = requests.get(url).json()
    cities_df.loc[index, "Lat"] = cities['results'][0]['geometry']['location']['lat']
    cities_df.loc[index, "Lng"] = cities['results'][0]['geometry']['location']['lng']
cities_df

NameError: name 'cities' is not defined

In [ ]:
# Use the lat/lng we recovered to identify airports
# Hint: Code is similar to above block (i.e. you will need to use cities_pd.iterrows() again)
# Hint: Use the keyword search for "international+airport"
# Hint: Use a try-except to handle airports that are missing ratings

In [ ]:
# Save Data to csv


# Visualize to confirm airport data appears