In [1]:
import json
import requests
import pandas as pd

In [2]:
# List of character
search_characters = ['R2-D2', 'Darth Vader', 'Godzilla', 'Luke Skywalker', 'Frodo', \
              'Boba Fett', 'Iron Man', 'Jon Snow', 'Han Solo']

# Set url for API
url = 'https://swapi.dev/api/people/?search='

# Set empty lists to hold character's height and mass
height = []
mass = []
character_name = []

# Loop through each character and make API request
for character in search_characters:
    # Create search query, make request and store in json
    query_url = url + character
    results = requests.get(query_url)
    results_json = results.json()
    
    # Try to grab the height and mass of characters if they are available in the Star Wars API
    try:
        height.append(results_json['results'][0]['height'])
        mass.append(results_json['results'][0]['mass'])
        character_name.append(character)
        print(f'{character} found')
    # Handle exceptions for a character that is not available in the Star Wars API
    except:
        print(f"{character} not found, pass")
        pass

R2-D2 found
Darth Vader found
Godzilla not found, pass
Luke Skywalker found
Frodo not found, pass
Boba Fett found
Iron Man not found, pass
Jon Snow not found, pass
Han Solo found

In [8]:
# Create DataFrame
character_df = pd.DataFrame({'character': character_name,
                            'height': height,
                            'mass': mass})
character_df

        character height  mass
0           R2-D2     96    32
1     Darth Vader    202   136
2  Luke Skywalker    172    77
3       Boba Fett    183  78.2
4        Han Solo    180    80